<% layout('layout/page') -%>
<% block('title', 'Расписание');%>
<p class="lead"> Здесь будет Расписание!</p> 

<p> Группа, <%=group.get('name')%></p>
    <ul>
       <li>
            <a href ="?group=<%= group.get('_id')  %>&&day=monday" > понедельник</a>
         </li>
         <li>
            <a href ="?group=<%= group.get('_id')  %>&&day=tuesday" > Вторник</a>
         </li>
         <li>
             <a href ="?group=<%= group.get('_id')  %>&&day=wednesday" > Среда</a>
         </li>
         <li>
            <a href ="?group=<%= group.get('_id')  %>&&day=thursday" > Четверг</a>
         </li>
         <li>
            <a href ="?group=<%= group.get('_id')  %>&&day=friday" > Пятница</a>
         </li>
         <li>
             <a href ="?group=<%= group.get('_id')  %>&&day=saturday" > Суббота</a>  
         </li>
</ul>
<p class="info">сообщения </p>
<% for(var i= 0; i<messages.length; i++) {%>
    <a href="/lookMessage?id=<%= messages[i].get('_id') %>"><p class="part"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> ЗАметка #<%=  i  %></p></a>
<% } %>