<% layout('layout/page') -%>
<% block('title', 'Расписание');%>
<p class="lead"> Дни!</p> 
<p> Добро пожаловать, <%=user.get('username')%></p>
<p> Добро пожаловать В расписание , <%=teacher%>, в <%=day%></p>
<% if (result.length > 0) { %>
 <table class="table table-hover">
   <caption>Таблица с расписанием</caption>
   <tr>
    <th>Номер пары</th>
    <th>Группа</th>
    <th>неделя</th>
    <th>урок</th>
    <th>преподаватель</th>
    <th>Аудитория</th>
    <th>Корпус</th>
    <th>Редактировать</th>
    <th>оставить заметку</th>
   </tr>
<% for(var i= 0; i<result.length; i++) {%>
<tr>
    <td><%=  result[i].get('number') %></td>

    <td><%=  result[i].group %></td>
    <td><%=  result[i].get('week') %></td>
    <td><%=  result[i].get('lesson') %></td>
    <td><%=  result[i].get('teacher') %></td>
    <td><%=  result[i].get('auditory') %></td>
    <td><%=  result[i].get('hull') %></td>
    <% if(result[i].idGroup) {%>
    <td><a href="update?group=<%=  result[i].idGroup %>&&day=<%=  day %>&&id=<%=  result[i].get('_id') %>"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
<% }else if (result[i].idNotice) {%>
    <td><a href="updateChanges?id=<%=result[i].get('_id') %>"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
 <% }%>
<td><a  target="_blank" href="leaveMessage?id_group=<%=  result[i].idGroup %>&&teacherHash=<%= hash %>"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></td>
</tr>
<% } %>
  </table>
<% }else { %>
    <h1> <%=teacher%>  в <%=day%> не учит </h1>
<% } %>

<a href="?teacher=<%=hash%>&&day=<%=day%>&&update=true" ><button type="button" class="btn btn-danger">Изменить</button></a>